html {
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
}




// Used to make sure no accidental wide margin/img breaks bounds
body {
  overflow-x: hidden;
  // There's a small bug in webkit that requires a CSS3 property to be set on an element.
  // Read more about it at http://bit.ly/NEdoDq
}




*::selection {
  background: lighten($medium-color, 30); /* WebKit/Blink Browsers */
}
*::-moz-selection {
  background: lighten($medium-color, 30); /* Gecko Browsers */
}




/* ============================================================

    $SHELL

============================================================ */

.shell {
    position: relative;
    max-width: $max-width;
    margin: 0 auto;
    padding: $base-spacing-unit*2 $base-spacing-unit*2;
    
    @include media-query(palm-wide) {
        padding: $base-spacing-unit*1.25 $base-spacing-unit*.75;
    }

    @include media-query(palm) {
        padding: $base-spacing-unit*1.25 $base-spacing-unit/2;
    }
}




/* ============================================================

    $HORIZONTAL RULES

============================================================ */

hr {
    border: 0px solid transparent;
    border-top: $border-size solid darken($medium-color, 5);
    margin-bottom: $base-spacing-unit;

    .grid + & {
        margin-top: $base-spacing-unit/2;
    }

    &.short {
        margin: $base-spacing-unit auto;
        max-width: $base-spacing-unit*2;
    }

    &.hidden {
        border-width: 0px;
    }
}




/* ============================================================

    $DISPLAY/FLOAT UTILITIES

============================================================ */

@include namespace(inline) {
    display: inline-block;
}

@include namespace(block) {
    display: block;
}



/* ============================================================

    $SHAPE UTILITIES

============================================================ */

.round {
  @include radius(50%);
}

.blurred {
    -webkit-filter: blur(25px);
}