.constrained {
    max-width: $copy-max-width;
    margin: auto;
}

.capitalize {
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: 700;
}

.tight {
    letter-spacing: -5px;
}

.remove-decoration {
    text-decoration: none;
}

.color-primary {
    color: $primary-color !important;
}

.color-secondary {
    color: $secondary-color !important;
}

.color-tertiary {
    color: $tertiary-color !important;
}

.color-quadrinary {
    color: $quadrinary-color !important;
}

.color-medium {
    color: $medium-color !important;
}

.color-dark {
    color: $dark-color !important;
}

.color-light {
    color: $light-color !important;
}

.background-primary {
    background-color: $primary-color !important;
}

.background-secondary {
    background-color: $secondary-color !important;
}

.background-tertiary {
    background-color: $tertiary-color !important;
}

.background-quadrinary {
    background-color: $quadrinary-color !important;
}

.background-medium {
    background-color: $medium-color !important;
}

.background-dark {
    background-color: $dark-color !important;
}

.background-light {
    background-color: $light-color !important;
}

.soft { padding: $base-spacing-unit; }
.soft-sides { padding-left: $base-spacing-unit; padding-right: $base-spacing-unit; }
.soft-ends { padding-top: $base-spacing-unit; padding-bottom: $base-spacing-unit; }
.soft-top { padding-top: $base-spacing-unit; }
.soft-right { padding-right: $base-spacing-unit; }
.soft-bottom { padding-bottom: $base-spacing-unit; }
.soft-left { padding-left: $base-spacing-unit; }

.soft-half { padding: $base-spacing-unit/2; }
.soft-half-sides { padding-left: $base-spacing-unit/2; padding-right: $base-spacing-unit/2; }
.soft-half-ends { padding-top: $base-spacing-unit/2; padding-bottom: $base-spacing-unit/2; }
.soft-half-top { padding-top: $base-spacing-unit/2; }
.soft-half-right { padding-right: $base-spacing-unit/2; }
.soft-half-bottom { padding-bottom: $base-spacing-unit/2; }
.soft-half-left { padding-left: $base-spacing-unit/2; }

.soft-quarter { padding: $base-spacing-unit/4; }
.soft-quarter-sides { padding-left: $base-spacing-unit/4; padding-right: $base-spacing-unit/4; }
.soft-quarter-ends { padding-top: $base-spacing-unit/4; padding-bottom: $base-spacing-unit/4; }
.soft-quarter-top { padding-top: $base-spacing-unit/4; }
.soft-quarter-right { padding-right: $base-spacing-unit/4; }
.soft-quarter-bottom { padding-bottom: $base-spacing-unit/4; }
.soft-quarter-left { padding-left: $base-spacing-unit/4; }