.constrained {
    max-width: $copy-max-width;
    margin: auto;
}

.capitalize {
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.color-primary {
    color: $primary-color;
}

.color-secondary {
    color: $secondary-color;
}

.color-tertiary {
    color: $tertiary-color;
}

.color-quadrinary {
    color: $quadrinary-color;
}

.color-medium {
    color: $medium-color;
}

.color-dark {
    color: $dark-color;
}

.color-light {
    color: $light-color;
}

.background-primary {
    background-color: $primary-color;
}

.background-secondary {
    background-color: $secondary-color;
}

.background-tertiary {
    background-color: $tertiary-color;
}

.background-quadrinary {
    background-color: $quadrinary-color;
}

.background-medium {
    background-color: $medium-color;
}

.background-dark {
    background-color: $dark-color;
}

.background-light {
    background-color: $light-color;
}