@if $use-links == true {

    a {
        position: relative;
        font-family: $base-copy-font;
        font-size: $font-size;
        line-height: $line-height;
        margin-bottom: $base-spacing-unit/3;
        color: $cta-color;
        text-decoration: underline;
        cursor: pointer;
        @include vendor(transition, all $global-duration $global-function);
    
        &:hover {
            color: darken($cta-color, 20);
        }
    }

    .link {
        display: inline-block;
        text-decoration: none;
        // text-transform: uppercase;
        font-weight: 600;
        color: $cta-color;
        border-bottom: $border-size/2 solid $cta-color;
        
        .btn + & {
            position: relative;
            top: -3px;
            margin-left: $button-size*1.5;
        }

        &:hover {
            color: darken($cta-color, 15);
            border-color: darken($cta-color, 15);
        }
    }

    .link-primary {
        @extend .link;
        color: $primary-color;
        border-color: $primary-color;

        &:hover {
            color: darken($primary-color, 15);
            border-color: darken($primary-color, 15);
        }
    }

    .link-secondary {
        @extend .link;
        color: darken($secondary-color, 5);
        border-color: darken($secondary-color, 5);

        &:hover {
            color: darken($secondary-color, 15);
            border-color: darken($secondary-color, 15);
        }
    }

    .link-tertiary {
        @extend .link;
        color: darken($tertiary-color, 10);
        border-color: darken($tertiary-color, 10);

        &:hover {
            color: darken($tertiary-color, 20);
            border-color: darken($tertiary-color, 20);
        }
    }

    .link-quadrinary {
        @extend .link;
        color: darken($quadrinary-color, 5);
        border-color: darken($quadrinary-color, 5);

        &:hover {
            color: darken($quadrinary-color, 15);
            border-color: darken($quadrinary-color, 15);
        }
    }
    
}