@if $use-lists == true {

  ul, ol {
    color: $dark-color;
  	font-family: $base-copy-font;
    font-size: $font-size;
    line-height: $line-height;
    list-style: none;
    margin: 0 0 $base-spacing-unit/2 0;

    li {
      width: auto;
      margin-bottom: $base-spacing-unit/10;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    &.list-inline {
      display: inline;

      li {
        display: inline;
        margin-right: $base-spacing-unit/4;

        &:last-child {
          margin-right: 0px;
        }
      }
    }

    &.list-bulleted {
      text-align: left;
      list-style: outside;
    }

  }
}