@if $use-lists == true {

  ul, ol {
    color: $dark-color;
    display: inline-block;
  	font-family: $base-copy-font;
    font-size: $font-size;
    line-height: $line-height;
  	margin: 0 0 $base-spacing-unit/2 $base-spacing-unit/3;

    li {
		  margin-bottom: $base-spacing-unit/8;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    &.bulleted {
    	list-style: outside;
    	margin: 0 0 $base-spacing-unit/2 $base-spacing-unit/2.5;
    }

  }

}