@if $use-sections == true {

	section {
		position: relative;
		margin: 0 auto;
		width: 100%;
		overflow: hidden;
		background-color: $light-color;
	}

	.section-primary {
		background: $primary-color;

		@include headings(1,6) {
			color: darken($secondary-color, 10);

			&.subheading {
				color: darken($secondary-color, 7);
			}
		}

		h1 {
			color: $light-color;
		}

		p, ul, ol, small {
			color: darken($secondary-color, 15);
		}

		a {
			color: lighten($quadrinary-color, 5);
		}

		.btn {
			background-color: $secondary-color;
			border-color: $secondary-color;
			color: $light-color;

			&:hover {
				background-color: darken($secondary-color, 5);
				border-color: darken($secondary-color, 5);
			}
		}

		.link {
			color: darken($secondary-color, 5);
			border-color: darken($secondary-color, 5);

			&:hover {
				color: darken($secondary-color, 10);
				border-color: darken($secondary-color, 10);
			}
		}
	}

	.section-secondary {
		background: $secondary-color;

		@include headings(1,6) {
			color: $light-color;

			&.subheading {
				color: $tertiary-color;
			}
		}

		p, ul, ol, small {
			color: $dark-color;
		}

		a {
			color: lighten($primary-color, 5);
		}

		.btn {
			background-color: $primary-color;
			border-color: $primary-color;
			color: $light-color;

			&:hover {
				background-color: darken($primary-color, 5);
				border-color: darken($primary-color, 5);
			}
		}

		.link {
			color: lighten($primary-color, 5);
			border-color: lighten($primary-color, 5);

			&:hover {
				color: $primary-color;
				border-color: $primary-color;
			}
		}
	}

	.section-tertiary {
		background: $tertiary-color;

		@include headings(1,6) {
			color: $light-color;

			&.subheading {
				color: $quadrinary-color;
			}
		}

		p, ul, ol, small {
			color: darken($tertiary-color, 35);
		}

		a {
			color: $quadrinary-color;
		}

		.btn {
			background-color: darken($secondary-color, 10);
			border-color: darken($secondary-color, 10);
			color: $light-color;

			&:hover {
				background-color: darken($secondary-color, 15);
				border-color: darken($secondary-color, 15);
			}
		}

		.link {
			color: darken($secondary-color, 10);
			border-color: darken($secondary-color, 10);

			&:hover {
				color: darken($secondary-color, 15);
				border-color: darken($secondary-color, 15);
			}
		}
	}

	.section-quadrinary {
		background-color: $quadrinary-color;

		@include headings(1,6) {
			color: $secondary-color;

			&.subheading {
				color: darken($tertiary-color, 5);
			}
		}

		p, ul, ol, small {
			color: $dark-color;
		}

		a {
			color: darken($tertiary-color, 10);
		}

		.btn {
			background-color: darken($secondary-color, 5);
			border-color: darken($secondary-color, 5);
			color: $light-color;

			&:hover {
				background-color: darken($secondary-color, 10);
				border-color: darken($secondary-color, 10);
			}
		}

		.link {
			color: darken($secondary-color, 5);
			border-color: darken($secondary-color, 5);

			&:hover {
				color: darken($secondary-color, 10);
				border-color: darken($secondary-color, 10);
			}
		}
	}

	.section-medium {
		background-color: $medium-color;

		@include headings(1,6) {
			color: $tertiary-color;

			&.subheading {
				color: $secondary-color;
			}
		}

		h1 {
			color: $dark-color;
		}

		p, ul, ol, small {
			color: $dark-color;
		}

		a {
			color: darken($tertiary-color, 10);
		}

		.btn {
			background-color: darken($tertiary-color, 5);
			border-color: darken($tertiary-color, 5);
			color: $light-color;

			&:hover {
				background-color: darken($tertiary-color, 10);
				border-color: darken($tertiary-color, 10);
			}
		}

		.link {
			color: darken($tertiary-color, 5);
			border-color: darken($tertiary-color, 5);

			&:hover {
				color: darken($tertiary-color, 10);
				border-color: darken($tertiary-color, 10);
			}
		}
	}

	.section-dark {
		background-color: $dark-color;

		@include headings(1,6) {
			color: $light-color;

			&.subheading {
				color: $tertiary-color;
			}
		}

		h1 {
			color: $primary-color;
		}

		p, ul, ol, small {
			color: $light-color;
		}

		a {
			color: darken($tertiary-color, 10);
		}

		.btn {
			background-color: lighten($secondary-color, 5);
			border-color: lighten($secondary-color, 5);
			color: $light-color;

			&:hover {
				background-color: darken($secondary-color, 5);
				border-color: darken($secondary-color, 5);
			}
		}

		.link {
			color: lighten($secondary-color, 5);
			border-color: lighten($secondary-color, 5);

			&:hover {
				color: darken($secondary-color, 5);
				border-color: darken($secondary-color, 5);
			}
		}
	}

	.section-gradient {
		background: $tertiary-color; /* Old browsers */
		background: -moz-linear-gradient(top,  $tertiary-color 0%, $quadrinary-color 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$tertiary-color), color-stop(100%,$quadrinary-color)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  $tertiary-color 0%,$quadrinary-color 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  $tertiary-color 0%,$quadrinary-color 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  $tertiary-color 0%,$quadrinary-color 100%); /* IE10+ */
		background: linear-gradient(to bottom,  $tertiary-color 0%,$quadrinary-color 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$tertiary-color', endColorstr='$quadrinary-color',GradientType=0 ); /* IE6-9 */
	}
}