<!DOCTYPE html>
<html>
	<head>
		<title>Snappy Car Wash</title>
		<link rel="stylesheet" href="/assets/css/master.min.css">
		<script src="//use.typekit.net/akq2juh.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
		<header class="section-gradient">
			<div class="shell soft-half">
				<div class="grid">
					<div class="grid__item one-whole align-center">
						<a href="#" style="display: inline-block; width: 360px; max-width: 360px;" class="logo">{% embed "_embeds/snappy-logo.twig" %}{% endembed %}</a>
					</div><div class="grid__item one-whole align-center">
						<nav>
							<ul class="inline">
								<li><a href="#">Locations</a></li>
								<li><a href="#">Products</a></li>
								<li><a href="#">Fundraisers</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</header>

		<section class="">
			<div class="shell">
				<div class="grid">
					<div class="grid__item lap-and-up-two-thirds">
						<h1>Get Unlimited Washes and Express Entry</h1>
						<h4 class="subheading">Snappy Zoom Pass</h4>
						<p><b>Snappy Zoom Pass is a window sticker</b> that automatically raises our gate when you approach. We'll bill your credit card today for a <b>full month of unlimited washes</b> &mdash; then each month thereafter to maintain your plan.</p>
						<a href="#" class="btn flush">More Details</a>
					</div><div class="grid__item lap-and-up-one-third">
					</div>
				</div>
			</div>
		</section>

		<section class="section-primary section-condensed">
			<div class="shell">
				<div class="grid">
					<div class="grid__item align-center">
						<h1>Our Locations</h1>
						<hr class="hidden">
					</div><div class="grid__item lap-and-up-one-quarter portable-one-half palm-wide-one-half align-center">
						<h3>Anderson, SC</h3>
						<p class="">4102 Clemson Blvd<br>Anderson, SC 29621</p>
						<ul>
							<li><b>Monday-Saturday</b><br>8am - 7pm</li>
							<li><b>Sunday</b><br>1pm - 6pm</li>
						</ul>
						<a href="#" class="btn">Get Directions</a>
					</div><div class="grid__item lap-and-up-one-quarter portable-one-half palm-wide-one-half align-center">
						<h3>Cornelia, GA</h3>
						<p class="">155 Finis Springs Dr<br>Cornelia, GA 30531</p>
						<ul>
							<li><b>Monday-Saturday</b><br>8am - 7pm</li>
							<li><b>Sunday</b><br>1pm - 6pm</li>
						</ul>
						<a href="#" class="btn">Get Directions</a>
					</div><div class="grid__item lap-and-up-one-quarter portable-one-half palm-wide-one-half align-center">
						<h3>Greenville, SC</h3>
						<p class="">1405 Woodruff Rd<br>Greenville, SC 29607</p>
						<ul>
							<li><b>Monday-Saturday</b><br>8am - 7pm</li>
							<li><b>Sunday</b><br>1pm - 6pm</li>
						</ul>
						<a href="#" class="btn">Get Directions</a>
					</div><div class="grid__item lap-and-up-one-quarter portable-one-half palm-wide-one-half align-center">
						<h3>Seneca, SC</h3>
						<p class="">1113 Jennings Ave<br>Seneca, SC 29678</p>
						<ul>
							<li><b>Monday-Saturday</b><br>8am - 7pm</li>
							<li><b>Sunday</b><br>1pm - 6pm</li>
						</ul>
						<a href="#" class="btn">Get Directions</a>
					</div>
				</div>
			</div>
		</section>

		<section class="section-secondary section-condensed">
			<div class="shell">
				<div class="grid">
					<div class="grid__item align-center">
						<h1>Our Washes</h1>
						<hr class="hidden">
					</div><div class="grid__item lap-and-up-one-third portable-one-half">
						<div class="card">
							<h2 class="color-primary">Premium Express Wash</h2>
							<ul>
								<li>Exterior Wash</li>
								<li>Jet Dry</li>
								<li>Underbody Wash</li>
								<li>3-Color Conditioner</li>
								<li>Bright Wheels Polish</li>
								<li>RhinoGuard Brake Dust Control</li>
								<li>Simoniz Tire Shine</li>
								<li>Hydropel Rain Repellent</li>
								<li>Teflon Sealant</li>
								<li>Snappy Splash Color Blast</li>
							</ul>
						</div>
					</div><div class="grid__item lap-and-up-one-third portable-one-half">
						<div class="card">
							<h2 class="color-primary">Express<br>Wash</h2>
							<p>Lorem ipsum In aliquip in cupidatat sit qui in adipisicing laborum quis quis nulla esse sunt culpa dolor ea in deserunt pariatur pariatur in.</p>
							{# <ul>
								<li>Exterior Wash</li>
								<li>Jet Dry</li>
								<li>Underbody Wash</li>
								<li>3-Color Conditioner</li>
								<li>Bright Wheels Polish</li>
								<li>RhinoGuard Brake Dust Control</li>
								<li>Simoniz Tire Shine</li>
							</ul> #}
						</div>
					</div><div class="grid__item lap-and-up-one-third portable-one-half">
						<div class="card">
							<h2 class="color-primary">Economy<br>Wash</h2>
							<ul>
								<li>Exterior Wash</li>
								<li>Jet Dry</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		{# {% embed "_embeds/test.twig" %}{% endembed %} #}
		
		<footer class="section-dark">
			<div class="shell soft-half--ends">
				<div class="grid">
					<div class="grid__item one-third handheld-one-whole handheld-align-center">
						<p class="flush"><b>&copy; 2015 Snappy Car Wash</b></p>
					</div><div class="grid__item two-thirds handheld-one-whole align-right handheld-align-center">
						<ul class="list-inline flush">
							<li><a href="#" class="bold remove-decoration">Locations</a></li>
							<li><a href="#" class="bold remove-decoration">Products</a></li>
							<li><a href="#" class="bold remove-decoration">Fundraisers</a></li>
							<li><a href="#" class="bold remove-decoration">About</a></li>
							<li><a href="#" class="bold remove-decoration">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>