<!DOCTYPE html>
<html>
	<head>
		<title>Snappy Car Wash</title>
		<link rel="stylesheet" href="/assets/css/master.min.css">
		<script src="//use.typekit.net/akq2juh.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
		<section class="">
			<div class="shell">
				<div class="grid">
					<div class="grid__item">
						<h1>Headlines in Myriad Pro Bold Italic</h1>
						<h4 class="subheading color-tertiary">Subheading in Myriad Pro Bold</h4>
						<p>With Snappy's pre-paid Fleet Pass Card, we'll give you <b>ONE FREE WASH</b> for every five washes you purchase. And you can use your Fleet Pass with <i>any vehicle, any driver, any time.</i> For more peace of mind <a href="#">we can install an identification sticker</a> to the window of your vehicles to keep track of usage (time and frequency). We’ll send you a convenient monthly statement which itemizes your washes.</p>
						<a href="#" class="link-primary">Non-inline link</a>
					</div>
				</div>
				<div class="grid">
					<div class="grid__item lap-and-up-one-half">
						<h2>Snappy's Best $15 Premium Express Wash</h2>
						<p>Lorem ipsum Exercitation in adipisicing commodo voluptate aliquip enim eu sit exercitation laborum do officia adipisicing cillum commodo culpa dolore incididunt consequat sit eiusmod nostrud cupidatat deserunt eiusmod est anim ullamco veniam anim velit in eu incididunt.</p>
						<a href="#" class="btn-quadrinary">Join Now</a>
						<a href="#" class="link">Learn More</a>
					</div><div class="grid__item lap-and-up-one-half">
						<h2>Raise BIG money for your group, fast!</h2>
						<ul>
							<li>Lorem ipsum Incididunt proident ut in reprehenderit.</li>
							<li>Lorem ipsum Pariatur sunt proident aliqua in ut.</li>
							<li>Lorem ipsum Irure dolore commodo aliquip elit.</li>
							<li>Lorem ipsum Officia labore dolore quis irure Ut.</li>
						</ul>
						<p>Lorem ipsum Commodo ut nostrud id Duis do minim est enim fugiat consectetur incididunt tempor Ut deserunt fugiat aute cillum exercitation consequat et.</p>
					</div>
				</div>
				<div class="grid">
					<div class="grid__item lap-and-up-one-third">
						<h3>Raise BIG money for your group, fast!</h3>
						<p>Lorem ipsum Sint sint sit proident eiusmod laborum consequat ea consectetur anim esse elit occaecat nostrud ut nostrud nisi amet nulla Duis eiusmod ullamco in dolor amet dolor magna id cupidatat magna deserunt elit eiusmod consequat culpa velit quis.</p>
						<p>Lorem ipsum Incididunt occaecat et consequat in nisi reprehenderit sit adipisicing pariatur nisi ullamco proident id aute cillum deserunt ut sunt eiusmod exercitation incididunt commodo elit consectetur fugiat mollit deserunt magna commodo dolor.</p>
						<h4>Want unlimited washes and express entry?</h4>
						<p>Lorem ipsum Ut est tempor nostrud nulla eiusmod dolore officia dolore et Excepteur in deserunt.</p>
						<h5>Fifth Level Heading for some unknown reason</h5>
					</div><div class="grid__item lap-and-up-one-third">
						<h3>Keep your car clean and SAVE!</h3>
						<p>Lorem ipsum Non officia reprehenderit ad mollit non in deserunt cillum cupidatat incididunt cupidatat in ea reprehenderit consequat minim amet reprehenderit sint fugiat fugiat amet culpa pariatur esse eu anim consequat pariatur commodo anim magna esse culpa.</p>
						<h4>Impress your customers with a sharp fleet</h4>
						<p>Lorem ipsum Nisi dolore consequat consequat velit sint ex in aliqua est.</p>
						<h5>Fifth Level Heading for some unknown reason</h5>
						<small>Lorem ipsum Do commodo aute id dolore enim sunt officia mollit minim aliquip anim dolor laborum ut aute dolore enim id sed.</small>
					</div><div class="grid__item lap-and-up-one-third">
						<h3>Snappy's Best $15 Premium Express Wash</h3>
						<p>Lorem ipsum Consectetur adipisicing nulla consequat aliqua commodo minim consequat irure occaecat cupidatat qui ea tempor ea quis sed do sit culpa et eiusmod labore dolore ad.</p>
						<h4>Save 20% off when you prepay</h4>
						<p>Lorem ipsum Incididunt do consequat magna labore esse nostrud est veniam sint et est pariatur incididunt aliqua pariatur in ex.</p>
						<h5>Fifth Level Heading for some unknown reason</h5>
					</div>
				</div>
			</div>
		</section>
		<section class="section-primary">
			<div class="shell">
				<div class="grid">
					<div class="grid__item">
						<h1>Environmentally-Safe, Premium Detergents in 3 Minutes Flat</h1>
					</div>
					<div class="grid__item lap-and-up-two-thirds">
						<h2>Your Local Premium Express Car Wash</h2>
						<p>Lorem ipsum Deserunt eu laborum nulla officia adipisicing consectetur consectetur nostrud incididunt Excepteur dolor enim pariatur incididunt ad officia dolor nulla elit magna sunt id eiusmod nulla nisi in id occaecat ea reprehenderit eiusmod eu dolor Excepteur cupidatat anim enim enim.</p>
					</div><div class="grid__item lap-and-up-one-third">
						<h2>We're not like the other guys</h2>
						<p>Lorem ipsum Id sunt fugiat aute ut ut nostrud proident magna ex sunt et cillum Ut sit nulla adipisicing tempor laborum ut fugiat elit nostrud Duis incididunt laboris aliqua dolor incididunt aliqua ex consectetur cupidatat irure officia occaecat voluptate sed ea occaecat.</p>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>